
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
:root{
  --black: black;
  --purple:purple;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.5);
  --dark-moderate-voilet:#663399;
}
*{
  font-family:cursive;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
border: none;
outline: none;
text-decoration: none;
text-transform: none;
transition: all .2s linear;


}
html{
  font-size: 90%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;

}
body{
  background: #fff;
}

.header{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border: 1px solid;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  z-index: 1000;
  box-shadow:var(--box-shadow) ;

}
.header .logo img{
 display: inline-block;
 height: 98px;
 width: 98px;
}
.header .headbar a{
  font-size: 1.3rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: var(--light-color);
}
.header .headbar a:hover{
  color: #fff;
  background: linear-gradient(120deg,#eb6ce0 40% , #2e65dbec);
  scroll-behavior: smooth;
  -webkit-box-shadow:0 20px 30px rgba(67, 147, 165, 0.8);
    box-shadow:0 20px 30px rgba(186, 136, 226, 0.8) ;
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    o-transform:translateY(-15px);
    transform:translateY(-15px);
}
.header .menubtn{
  margin-right: 60px;
}

.header .menubtn button{
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
  border-radius: 10px;
  cursor: pointer;
}

.container .heading{
 padding-top: 8%;
 color: #5969c2;
 text-align: center;
 font-size: 2.5rem;
}
.container hr{
display: block;
margin-top: 0.5rem;
margin-left: 30px;
border-style: inset;
border-width: 3px;

}
.top .box-container{
  padding: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}



.top .box-container .box{
  height:100%;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  box-shadow:0 .5rem 1.5rem rgba(6, 6, 6, 0.5);

  border: 2px solid var(--light-color);
}
.top .box-container .box img{
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
}
.top .box-container .box h1{
  font-size: 2rem;
  line-height: 1rem;
  color: var(--dark-moderate-voilet);
}
.top .box-container .box p{
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--light-color);
  overflow-wrap: break-word;
  padding: 1rem 0;
}
.btn{
  border: 1px solid var(--black);
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1rem;
  border-radius: .5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
  white-space: nowrap;
}
.btn:hover{
  background: linear-gradient(120deg,#c03bc9 40%,#663399);
}
.top .box{
  -webkit-box-shadow:0 1px 1px rgba(16, 148, 144, 0.6);
  box-shadow: 0 1px 1px rgba(28, 29, 29, 0.6);
  -webkit-transition: all 2s ease-in-out;
 -moz-transition: all 2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: :all .2s ease-in-out;
  transition : all .2s ease-in-out;
}
.top .box:hover{
  -webkit-box-shadow:0 20px 30px rgba(59, 99, 145, 0.8);
  box-shadow:0 20px 30px rgba(36, 73, 116, 0.8) ;
  -webkit-transform:translateY(-15px);
  -moz-transform:translateY(-15px);
  -ms-transform:translateY(-15px);
  o-transform:translateY(-15px);
  transform:translateY(-15px);
  
}

.container2 .heading2{
  padding-top: 2px;
  color: #5969c2;
  text-align: center;
  font-size: 2.5rem;
 }
 .container2 hr{
 display: block;
 margin-top: 0.5rem;
 margin-left: 30px;
 border-style: inset;
 border-width: 3px;
 
 }
 .top2 .box-container1{
  padding: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
  transition: all 2s linear ease-in-out;
}

.top2 .box-container1 .box1{
  height:100%;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  box-shadow:0 .5rem 1.5rem rgba(6, 6, 6, 0.5);
 
  border: 2px solid var(--light-color);
}

.top2 .box-container1 .box1 img{
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
}
.top2 .box-container1 .box1 h1{
  font-size: 2rem;
  line-height: 1rem;
  color: var(--dark-moderate-voilet);
}
.top2 .box-container1 .box1 p{
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--light-color);
  overflow-wrap: break-word;
  padding: 1rem 0;
}
.btn1{
  border: 1px solid var(--black);
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1rem;
  border-radius: .5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
  white-space: nowrap;
}
.btn1:hover{
  background: linear-gradient(120deg,#c03bc9 40%,#663399);


}
.top2 .box1{
  -webkit-box-shadow:0 1px 1px rgba(16, 148, 144, 0.6);
  box-shadow: 0 1px 1px rgba(28, 29, 29, 0.6);
  -webkit-transition: all 2s ease-in-out;
 -moz-transition: all 2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: :all .2s ease-in-out;
  transition : all .2s ease-in-out;
}
.top2 .box1:hover{
  -webkit-box-shadow:0 20px 30px rgba(59, 99, 145, 0.8);
  box-shadow:0 20px 30px rgba(36, 73, 116, 0.8) ;
  -webkit-transform:translateY(-15px);
  -moz-transform:translateY(-15px);
  -ms-transform:translateY(-15px);
  o-transform:translateY(-15px);
  transform:translateY(-15px);
}


/* Quick mobile safety net */
@media (max-width: 768px) {
  .container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  body {
    overflow-x: hidden; /* prevent sideways scroll */
  }
}
