
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
  :root{
    --black: black;
    --purple:purple;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  }
  *{
    font-family:cursive;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
border: none;
outline: none;
text-decoration: none;
text-transform: none;
transition: all .2s linear;

}
html{
    font-size: 90%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}
body{
    background: #fff;
}

.header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    z-index: 1000;
    box-shadow:var(--box-shadow) ;

}
.header .logo img{
   display: inline-block;
   height: 98px;
   width: 98px;
}
.header .headbar a{
    font-size: 1.3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}
.header .headbar a:hover{
    color: #fff;
    background: linear-gradient(120deg,#eb6ce0 40% , #2e65dbec);
    scroll-behavior: smooth;
    -webkit-box-shadow:0 20px 30px rgba(67, 147, 165, 0.8);
      box-shadow:0 20px 30px rgba(186, 136, 226, 0.8) ;
      -webkit-transform:translateY(-15px);
      -moz-transform:translateY(-15px);
      -ms-transform:translateY(-15px);
      o-transform:translateY(-15px);
      transform:translateY(-15px);
}
.header .menubtn{
    margin-right: 60px;
}

.header .menubtn button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
    border-radius: 10px;
    cursor: pointer;
}
.main{
    width: 100%;
  display: flex;

}
.main .left{
    padding-left: 50px;
    text-align: center;
    line-height: 1.6;
   position: absolute;
}
.main .left h2{
    padding-top: 46%;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--light-color);
    margin-top: 100px;
    
    
}
.main .left h1{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
    top: 20px;
    bottom: 10px;
}
.main .left p{
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--light-color);
}
.main .left button{
    padding-top: 12px;
    padding: 15px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid;
    box-shadow: var(--box-shadow);
    background-image:linear-gradient(to right,#649bff,#0070fa,#649bff); 
    border-radius: 10px;
    cursor: pointer;
}
.main .right img{
    padding-top: 10%;
    width: 90%;
    height: 88%;
    display: flex;
    padding-left: 39%;  
}
/* Quick mobile safety net */
@media (max-width: 768px) {
  .container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  body {
    overflow-x: hidden; /* prevent sideways scroll */
  }
}
