
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
:root{
  --black: black;
  --purple:purple;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
  font-family:cursive;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
border: none;
outline: none;
text-decoration: none;
text-transform: none;
transition: all .2s linear;

}
html{
  font-size: 90%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;

}
body{
  background: #fff;
  text-align: center;
  padding: 40px 0;
}

.header{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border: 1px solid;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  z-index: 1000;
  box-shadow:var(--box-shadow) ;

}
.header .logo img{
 display: inline-block;
 height: 98px;
 width: 98px;
}
.header .headbar a{
  font-size: 1.3rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: var(--light-color);
}
.header .headbar a:hover{
  color: #fff;
  background: linear-gradient(120deg,#eb6ce0 40% , #2e65dbec);
  scroll-behavior: smooth;
  -webkit-box-shadow:0 20px 30px rgba(67, 147, 165, 0.8);
    box-shadow:0 20px 30px rgba(186, 136, 226, 0.8) ;
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    o-transform:translateY(-15px);
    transform:translateY(-15px);
}
.header .menubtn{
  margin-right: 60px;
}

.header .menubtn button{
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
  border-radius: 10px;
  cursor: pointer;
}
h1{
    color: #e9e4de;
    font-family: "Nunito Sans","Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}
i{
    color: #65961a;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}
.card p{
  color: antiquewhite;
}
.card{
    background: linear-gradient(to right,#649bff,#0070fa,#649bff);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 3px #1f2022;
    display: inline-block;
    margin: 0 auto;
 top: 30%;
 align-items: center;
 text-align: center;
 left: 40%;
 position: absolute;

}
button a{
position: absolute;
top: 82%;
left: 38%;
box-sizing: border-box;
display: flex;
align-items: center;
margin: auto;
border-radius: 5px;
border: 20px var(--box-shadow);
color: #eed0bf;
font-size: 15px;
font-weight: bolder;
}
.card a:hover{
  -webkit-box-shadow:0 20px 30px rgba(59, 99, 145, 0.8);
  box-shadow:0 20px 30px rgba(36, 73, 116, 0.8) ;
  -webkit-transform:translate3d(-15px);
  -moz-transform:translate3d(-15px);
  -ms-transform:translate3d(-15px);
  o-transform:translate3d(-15px);
  transform:matrix3d(-15px);
}
.card{
  -webkit-box-shadow:0 1px 1px rgba(16, 148, 144, 0.6);
  box-shadow: 0 1px 1px rgba(28, 29, 29, 0.6);
  -webkit-transition: all 2s ease-in-out;
 -moz-transition: all 2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: :all .2s ease-in-out;
  transition : all .2s ease-in-out;
}
.card:hover{
  -webkit-box-shadow:0 20px 30px rgba(59, 99, 145, 0.8);
  box-shadow:0 20px 30px rgba(36, 73, 116, 0.8) ;
  -webkit-transform:translateY(-15px);
  -moz-transform:translateY(-15px);
  -ms-transform:translateY(-15px);
  o-transform:translateY(-15px);
  transform:translateY(-15px);
}
/* Quick mobile safety net */
@media (max-width: 768px) {
  .container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  body {
    overflow-x: hidden; /* prevent sideways scroll */
  }
}
